
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {

    margin: 0;
    background-color: #f4c681;
    text-align: center;
}

.header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;

}